<div class="row" style="display:flex; flex-direction:row; justify-content:space-around">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/2ad6daa9fec276fba472cf38ce349a7d.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">عباية أنيقة</h5>
      <p class="card-text">عباية مصممة بأناقة لتناسب جميع المناسبات، مصنوعة من أجود الأقمشة لتوفير الراحة والأناقة.</p>
      <a href="#" class="btn btn-primary">استكشاف المزيد</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/a1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">عباية </h5>
      <p class="card-text">تشكيلة من ملابس السهر الجذابة، تجمع بين الأناقة والراحة لتكوني دائمًا في أفضل إطلالة.</p>
      <a href="#" class="btn btn-primary">استكشاف المزيد</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/a5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">عباية</h5>
      <p class="card-text">عباية رائعة تناسب جميع الأذواق، مثالية للمناسبات الخاصة والسهرات الراقية.</p>
      <a href="#" class="btn btn-primary">استكشاف المزيد</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/a2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">عباية</h5>
      <p class="card-text">عباية رائعة تناسب جميع الأذواق، مثالية للمناسبات الخاصة والسهرات الراقية.</p>
      <a href="#" class="btn btn-primary">استكشاف المزيد</a>
    </div>
   </div>
 <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/a4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">عباية</h5>
      <p class="card-text">عباية رائعة تناسب جميع الأذواق، مثالية للمناسبات الخاصة والسهرات الراقية.</p>
      <a href="#" class="btn btn-primary">استكشاف المزيد</a>
    </div>
  </div>
</div>
