
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/3.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/OIP.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/3.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br /><br /><br />
            <div class="row" style="display:flex; flex-direction:row; justify-content:space-evenly">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/2ad6daa9fec276fba472cf38ce349a7d.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">عباية أنيقة</h5>
                  <p class="card-text">عباية مصممة بأناقة لتناسب جميع المناسبات، مصنوعة من أجود الأقمشة لتوفير الراحة والأناقة.</p>
                  <a href="#" class="btn btn-primary">استكشاف المزيد</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/a1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">عباية </h5>
                  <p class="card-text">تشكيلة من ملابس السهر الجذابة، تجمع بين الأناقة والراحة لتكوني دائمًا في أفضل إطلالة.</p>
                  <a href="#" class="btn btn-primary">استكشاف المزيد</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/a5.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">عباية</h5>
                  <p class="card-text">عباية رائعة تناسب جميع الأذواق، مثالية للمناسبات الخاصة والسهرات الراقية.</p>
                  <a href="#" class="btn btn-primary">استكشاف المزيد</a>
                </div>
              </div>
            </div>
